body {
    background-color: azure;
    display: flex;
    flex-direction: column;
    flex: 1;
}

h1 {
    text-align: center;
    margin: 20px;
}

.game {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.buttons {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    gap: 30px;
    margin: 20px;
}

button {
    width: 150px;
    height: 30px;
    background-color: white;
}

#container {
    display: flex;
    justify-content: center;
    background-color: white;
    border: 100px;
    border-color: black;
}

#gradient {
    text-decoration: line-through;
}

.footer {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    color: black;
    text-decoration: none;
}